<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sinh viên</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Kết quả môn học <br>Sinh viên <span th:text="${stu.stuName}"></span></h1>
<table border="1" class="table-center">
    <tr>
        <th >Môn học</th>
        <th >Số tiết</th>
        <th >Điểm QT</th>
        <th >Điểm TP</th>
        <th >Điểm tổng kết</th>
        <th >Qua môn</th>

    </tr>
    <tr th:each="item : ${result}">
        <td  th:text="${item['subName']}"></td>
        <td  th:text="${item['subNum']}"></td>
        <td  th:text="${item['processPoint']}"></td>
        <td  th:text="${item['componentPoint']}"></td>
        <td style="font-weight: bold;" th:text="${item['summaryScore']}"></td>
        <td th:style="${item['passSub']} == 'Pass' ? 'color:blue;' : 'color:red;'"
            th:text="${item['passSub']}"></td>

    </tr>

</table>
<br>
<a th:href="@{'/student/' + ${stu.stuCode}+'/score'}" style="display: inline-block;
                            width: 100px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            background-color: #2e2e2e;
                            color: white;
                            text-decoration: none;
                            border-radius: 5px;">Quay lại </a>
</body>
</html>
