<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách môn học của sinh viên</title>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<h1>Danh sách môn học <br>Sinh viên <span th:text="${stu.stuCode}"></span></h1>

<table border="1"  class="table-center">
    <tr>
        <th scope="col">Tên môn học</th>
        <th scope="col">Số tiết</th>
    </tr>
    <tr th:each="sub : ${list}">
        <td th:text="${sub.subName}"></td>
        <td th:text="${sub.subNum}"></td>
    </tr>
    <tr>
        <th scope="col">
            <a th:href =" @{'/student/' + ${stu.stuCode}+'/score'}"
               style="display: inline-block;
                            width: 100px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            background-color: #6C6C6C;
                            color: white;
                            text-decoration: none;
                            border-radius: 5px;"
            >Xem điểm</a>
        </th>
    </tr>
</table>

<br>
<a th:href="@{'/student/' + ${stu.stuCode}}" style="display: inline-block;
                            width: 100px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            background-color: #2e2e2e;
                            color: white;
                            text-decoration: none;
                            border-radius: 5px;">Quay lại</a>
</body>
</html>
